.results-message-wrapper {
  padding: 16px 0;
}

.results {
  margin: 16px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }

  &__grid {
    display: grid;
    gap: 20px;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
